// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sort{
    background:whitesmoke;
    width: 14%;
    padding: 10px;
    border: 2px black solid;
    border-radius: 5px;
}
.sort h3{
    background:yellowgreen
}
.sort .btn{
    color: white;
}
