// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sort1{
    background:whitesmoke;
    padding: 5px;
    border: 0.1px rgb(133, 131, 131) solid;
    border-radius: 5px;
    float: right;
}
.sort1 h3{
    margin-right: 3px;
    float: left;
    font-size: 15px
}
.sort .btn{
    color: white;
    margin: 2px
}
.heeder{
    border-bottom: 4px solid navy;
}
.header{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    padding: 20px;
}
.main{
    margin-top:50px;
    width: 100%;
}
.content{
    width: 100%;
    background: whitesmoke;
    margin: auto;
    padding-bottom: 40px;
}
.tasks{
    width: 60%;
    margin: auto;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    padding: 10px;
    padding-bottom: 30px;
}
table{
    background:white;
    border: 1px solid;
    margin-top: 4px;
    margin-bottom: 4px;
}
table th{
    
    border: solid 2px;
}
.footer{
    border: none;
    margin-top: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background:rgb(87, 85, 83);
    font-size: 17px;
}
.form{
    background:lightgoldenrodyellow;
    width: 50%;
    margin: auto;
    padding: 20px;
}
.btn-sm{
    width: 48.5%
}
.heeder{
    background: white;
}
table .btn-sm{
    color: white;
    border-radius: 20px;
    font-size: 10px;
}
.sort1 .btn-sm{
    width: auto;
}
.new{
    background: transparent;
    padding: 5px;
    opacity: 0.6;
    color: #fbfcdb;
    border: 0.3px solid black;
}
.new:hover{
    padding: 10px;
    transition: 0.9s;
    background: #041c24;
}